<p id="notice"><%= notice %></p>

<h1>Category Items</h1>

<table>
  <thead>
    <tr>
      <th>Ingredient name</th>
      <th>Categorry</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @category_items.each do |category_item| %>
      <tr>
        <td><%= category_item.ingredient_name %></td>
        <td><%= category_item.categorry_id %></td>
        <td><%= link_to 'Show', category_item %></td>
        <td><%= link_to 'Edit', edit_category_item_path(category_item) %></td>
        <td><%= link_to 'Destroy', category_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category Item', new_category_item_path %>
