<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @favorites_recipe.name %>
</p>

<p>
  <strong>Recipe:</strong>
  <%= @favorites_recipe.recipe %>
</p>

<p>
  <strong>User:</strong>
  <%= @favorites_recipe.user_id %>
</p>

<%= link_to 'Edit', edit_favorites_recipe_path(@favorites_recipe) %> |
<%= link_to 'Back', favorites_recipes_path %>
